/*******************************/
/* Header */
/*******************************/

.header {
  align-items: center;
  background-color: #fdf2e9;
  display: flex;
  /* Because we want to make it sticky later */
  height: 9.6rem;
  justify-content: space-between;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/*******************************/
/* Navigation */
/*******************************/

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  color: #ffffffe7;
  border-radius: 9px;
  display: block;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  z-index: 9999;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky {
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: #fffffff4;
  z-index: 999;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*******************************/
/* Hero Section */
/*******************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
  padding-top: 4.8rem;
}

.hero {
  align-items: center;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 6.4rem;
}

.delivered-meals {
  align-items: center;
  display: flex;
  gap: 1.6rem;
  margin-top: 6.4rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  border-radius: 100%;
  border: 3px solid #fdf2e9;
  height: 4.8rem;
  margin-right: -1.6rem;
  width: 4.8rem;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/*******************************/
/* Featured in section */
/*******************************/

.section-featured {
  padding: 4.8rem 0 2.4rem;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0%);
  opacity: 50%;
}

/*******************************/
/* How it works section */
/*******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  color: #ccc;
  font-size: 8.6rem;
  font-weight: 600;
}

.step-img-box {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.step-img {
  width: 35%;
}

.step-img-box::before,
.step-img-box::after {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
}

.step-img-box::before {
  background-color: #fdf2e9;
  padding-bottom: 60%;
  width: 60%;
  z-index: -2;
}

.step-img-box::after {
  background-color: #fae5d3;
  padding-bottom: 45%;
  width: 45%;
  z-index: -1;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/*******************************/
/* Meals section */
/*******************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translatey(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.085);
}

.meal-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.meal-tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

.tag {
  border-radius: 100px;
  color: #333;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}

.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  list-style: none;
}

.meal-attribute {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  gap: 1rem;
}

.diets-icon {
  color: #e67e22;
  height: 3rem;
  width: 3rem;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/*******************************/
/* Testimonials section */
/*******************************/

.section-testimonials {
  align-items: center;
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  gap: 4.8rem 8rem;
  grid-template-columns: 1fr 1fr;
}

.testimonial-img {
  border-radius: 50%;
  margin-bottom: 1.2rem;
  width: 6.4rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.8rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  transition: all 0.4s;
  width: 100%;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*******************************/
/* Pricing section */
/*******************************/

.section-pricing {
  padding: 9.6rem 0;
}

.plan-header {
  margin-bottom: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 80%;
}

.pricing-plan--starter {
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
  justify-self: end;
}

.pricing-plan--complete {
  padding: 4.8rem;
  position: relative;
  background-color: #fdf2e9;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "best value";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  position: absolute;
  top: 7%;
  right: -18%;
  transform: rotate(45deg);
}

.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.plan-price {
  color: #333;
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3.6rem;
}

.plan-text {
  font-size: 1.8rem;
  color: #6f6f6f;
  line-height: 1.6;
}

.plan-sign-up {
  margin-top: 3.2rem;
}

.plan-detail {
  font-size: 1.4rem;
}

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 100%;
  background-color: #fdf2e9;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
  line-height: 1.6;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

/*******************************/
/* CTA section */
/*******************************/

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 77, 0.3),
      rgba(231, 127, 35, 0.3)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  color: #45260a;
  padding: 6.4rem;
  padding-top: 4.8rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta .heading-secondary {
  margin-bottom: 3.2rem;
  color: inherit;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
  font-family: inherit;
  color: inherit;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #fdf2e9;
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn-form {
  background-color: #45260a;
  color: #fff;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #6f6f6f;
}

.cta-form *:focus {
  box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.5);
}

/*******************************/
/* footer */
/*******************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 3.6rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.address {
  font: 1.8rem;
  margin-bottom: 2.4rem;
}

.contacts p:nth-child(2) {
  margin-bottom: 1.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: auto;
}

.contacts {
  font-size: 1.6rem;
  font-style: normal;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: #767676;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* *************************************************************************** */
